---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Excerpts";
import { getCollection } from "astro:content";
const excerpts = await getCollection("excerpts");
import truncate from "../../utils/truncate";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full">
    <h2
      class="font-bold font-serif text-xl mb-4 pb-0.5 mb-1 border-b-2 border-b-slate-200"
    >
      Excerpts
    </h2>
    <ul role="list">
      {
        excerpts.map((selectedWork) => (
          <li class="border-2 rounded-lg border-slate-500 bg-slate-100 p-4">
            <a href={`/excerpts/${selectedWork.slug}`}>
              <div class="mb-2">
                <span class="font-bold font-serif underline text-lg">
                  {selectedWork.data.title}
                </span>
              </div>
              <p>
                <em>{truncate(selectedWork.body)}...</em>
              </p>
              <p class="underline pt-2">
                <strong>Read more</strong>
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
