---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const onBlog = currentPath.includes("posts") || currentPath === "blog/";
const onExcerpts =
  currentPath.includes("excerpts") || currentPath === "excerpts/";
---

<ul class="flex justify-center font-serif gap-0.5">
  <li class={currentPath === "" ? "underline p-1" : "p-1"}>
    <a href="/">Home</a>
  </li>
  <li class={currentPath === "about/" ? "underline p-1" : "p-1"}>
    <a href="/about/">About</a>
  </li>
  <li class={currentPath === "now/" ? "underline p-1" : "p-1"}>
    <a href="/now/">Now</a>
  </li>
  <li class={onBlog ? "underline p-1" : "p-1"}>
    <a href="/blog/">Blog</a>
  </li>
  <li class={onExcerpts ? "underline p-1" : "p-1"}>
    <a href="/excerpts/">Excerpts</a>
  </li>
  <li class={currentPath === "contact/" ? "underline p-1" : "p-1"}>
    <a href="/contact/">Contact</a>
  </li>
</ul>
