---
import { getCollection } from "astro:content";
const blogEntries = await getCollection("posts");
const entriesToRender = blogEntries
  .filter((post) => !post.data.draft)
  .sort(function (a, b) {
    return +new Date(b.data.pubDate) - +new Date(a.data.pubDate);
  })
  .slice(0, 3);
import formatDate from "../../utils/formatDate";
---

<section class="p1">
  <h3
    class="font-bold font-serif pt-3 pb-0.5 mb-1 border-b-2 border-b-slate-200"
  >
    Recent Blog Posts
  </h3>
  <ul class="my1 ml-0.5" role="list">
    {
      entriesToRender.map((blogPostEntry) => (
        <li class="font-serif list-disc list-inside">
          <a class="font-bold underline" href={`/blog/${blogPostEntry.slug}`}>
            {blogPostEntry.data.title}
          </a>
          <span> ~ </span>
          <time datetime={blogPostEntry.data.pubDate}>
            {formatDate(blogPostEntry.data.pubDate)}
          </time>
        </li>
      ))
    }
  </ul>
</section>
